.margin1{
    margin-top: 50px;
}
.margin2{
    margin-bottom:50px
}
.margin3{
    margin-left:75px;
}
.text-size-1{
    font-size:40px;
    font-family:serif
}
.text-size-2{
    font-size:25px;
    font-family:serif
}
h2{
    font-family:serif;    
 }